body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(224, 223, 223); */
  background-color: rgb(197, 199, 202);
}
.card-container {
  box-shadow: 0 0 0 7px rgb(250, 212, 218);
  /* border: 6px solid pink; */
  width: 350px;
  background-color: rgb(98, 105, 112);
  padding: 20px;
  border-radius: 6px;
}
.card {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
.card-badge {
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 20px;
  color: green;
  background-color: rgb(217, 255, 217);
}
.badge-color {
  color: rgb(21, 21, 155);
  background: rgb(255, 255, 255);
}
.card-title {
  /* border: 1px solid black; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-subtitle {
  font-size: 13px;
  color: rgb(209, 209, 209);
  margin-bottom: 6px;
}
.subtitle {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.card-logo {
  position: relative;
  /* right: 0; */
}
.cardlogo {
  /* border: 1px solid black; */
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  padding: 9px 10px;
  border-radius: 3px;
}
.card-row {
  margin-top: 19px;
}
.card-name {
  font-size: 16px;
  color: rgb(237, 237, 238);
}
